* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h2, h3, h4, span {
    font-family: 'Raleway-ExtraBold', sans-serif;
}

.bleu {
    color: #0065fc;
}

.gris {
    color: #f2f2f2;
}

        /*-------Nav-------- */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

#logo {
    width: 50%;
    margin: 7% 0;
    padding-left: 5%;
}

nav a {
    text-align: center;
}

#nav-location {
    width: 50%;
    color: #0065fc;
    border-bottom: 1px solid #0065fc;
    padding-bottom: 4%;
}

#nav-activity {
    width: 50%;
}

#nav-inscription {
    align-self: center;
    text-align: end;
    width: 50%;
    font-weight: bolder;
    color: #0065fc;
    padding-right: 5%;
    font-family: 'Raleway-ExtraBold', sans-serif;
}

        /*-------Search--------- */

.container-search {
    width: 90%;
    margin-left: 5%;
}

.search h2 {
    margin-bottom: 2%;
}

.search-flex {
    display: flex;
    margin: 10% 0%;
}

#localisation {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 4% 6%;
}

input {
    width: 60%;
    font-size: 1.2em;
    font-weight: bold;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    padding-left: 2%;
}

input::placeholder {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.search button {
    background-color: #0065fc;
    color: white;
    font-weight: bolder;
    border : #0065fc solid 1px;
    border-radius: 13px;
    padding: 1.5% 4%;
    margin-left: -2%;
}

        /*--------Filter-------- */

.container-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.filter-title {
    width: 100%;
    align-self: center;
    margin-bottom: 2%;
}

.fa-stack {
    color: #0065fc;
    font-size: 1.6em;
    margin-left: -35px;
    height: 1em;
}

.fa-circle {
    font-size: 3em;
    color: #deebff;
    margin-left: -1%;
}
.fa-child {
    margin-left: -30px;
}

.fa-heart {
    margin-left: -30px;
}

.btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
    margin-top: 4%;
    transition: .3s all ease-in-out;
}

.btn:hover {
    background-color: #deebff;
    border: 3px solid #deebff;
    box-shadow: 0px 0px 10px 3px rgba(0,101,252,0.45);
}

.btn span {
    font-size: 1.5em;
    font-weight: bolder;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 10px;
}

.container-info span {
    font-family: 'Raleway', sans-serif;
}

.container-info div {
    display: inline-block;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    color: #0065fc;
    padding: 0 2.3% .5% 2.5%;
    margin-top: 8%;
}

        /*---------Container---------- */
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

        /* -------Popu--------- */

.container-popu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 5%;
    padding-top: 12%;
    padding-bottom: 9%;
}

.title-popu {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 5%;
}

.card-popu {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 2px 2px 10px #f2f2f2, 3px 3px 10px #f2f2f2;
    padding: 1.5%;
    margin: 1.5% 0;
}

.card-popu picture {
    display: inline-block;
    width: 50%;
}

.card-popu img {
    width: 80%;
    border-radius: 20px 0 0 20px;
}

.card-info-popu {
    display: inline-block;
}

.card-info-popu h4 {
    margin: 5% 0 2% 0%;
}

.card-info-popu p {
    font-size: .8em;
}

.card-info-popu p span {
    font-weight: bolder;
}

.card-info-popu div {
    display: flex;
    margin-top: 30%;
}

.card-info-popu div svg {
    margin-right: .5%;
}

        /*--------Location---------- */

.container-location {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-left: 5%;
}

.container-location h2 {
    margin-top: 10%;
    margin-bottom: 4%;
}

.card-location {
    width: 90%;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #f2f2f2, 3px 3px 10px #f2f2f2;
    margin: 1.5%;
}

.card-location img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 1.5%;
}

.card-info-location {
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-left: 4%;
    padding: 2%;
}

.card-info-location p {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: .8em;
}

.card-info-location span {
    font-weight: bolder;
}

.card-info-location div {
    display: flex;
}

.card-info-location div svg {
    margin-top: 1%;
    margin-right: .5%;
}

#plus {
    margin-top: 7%;
    margin-bottom: 16%;
    margin-left: 5%;
}

        /*--------Activities--------- */

.container-activity {
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}

.title-activity {
    margin-bottom: 7%;
    margin-left: 5%;
}

.activity-card-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4.5%;
}

.item {
    width: 90%;
    margin-left: 4.5%;
}

.activity-card {
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #f2f2f2, 3px 3px 10px #f2f2f2;
    margin-bottom: 4.5%;
}

.activity-card img {
    border-radius: 20px 20px 0 0;
    width: 101%;
    margin-bottom: 2%;
}

.activity-card h4 {
    margin: 5%;
}

       /* -------Footer------------ */
footer {
    background-color: #f2f2f2;
    padding: 5%;
    padding-top: 4.5%;
    margin-bottom: 0;
}

footer div h4 {
    padding-bottom: 7%;
}

footer div {
    margin: 10%;
    margin-left: 0;
}

footer div p {
    padding-bottom: 3%;
}

/*---------------------------------------------------Média queries -----------------------------------------------------*/

/*------------------------------------------- TABLET------------------------------------------------------------------*/
@media all and (min-width: 768px) {
    
/* --------------Search--------------- */
    
    .container-search {
        margin-left: 3%;
    }
    
    .container-search h2 {
        font-size: 2em;
    }
    
    .search {
        margin: 3%;
    }
    
    #intro {
        margin: 0;
        margin-top: 1%;
    }
    
    .search-flex {
        margin-top: 4%;
        margin-bottom: 2%;
    }
    
    #localisation {
        padding: 2% 2%;
        margin-left: 0;
    }
    
    input {
        padding: .5% 3%;
        padding-left: 2%;
        width: 30%;
    }
    
    .search button {
        width: auto;
        border-radius: 0 15px 15px 0;
        padding-left: 2%;
        margin-right: -3%;
    }
    
    .search button::before {
        content: "Rechercher";
        font-size: 1.5em;
        padding-left: 1%;
    }        
    
    .search button svg {
        position: absolute;
        visibility: hidden;
    }
    
    /*-----------------Filter---------------------*/ 
    
    .container-filter {
        margin-left: 3%;
    }
    
    .filter-title {
        font-size: 1.5em;
        margin-top: 4%;
        margin-bottom: 0
    }
    
    .btn {
        height: 3.5em;
    }
    
    .btn span {
        font-size: 22px;
        padding-right: 20px;
        padding-left: 25px;
    }

    .container-info div{
        padding: .4% 1.5% .8% 1.5%;
        margin: 3%;
    }
    
    /*----------------------Location-----------------*/
    
    .container-location h2 {
        font-size: 1.7em;
        width: 100%;
        margin-bottom: 3%;
        margin-top: 0;
        padding-left: 2%;
    }
    
    .card-info-location h4{
        font-size: 1.4em;
    }
    .card-info-location p {
        font-size: 1em;
    }
    
    #plus {
        font-size: 1.4em;
        margin-top: 3%;
    }
    
    /*------------------------- popu---------------------*/
    
    .container-popu {
        order: 1;
        justify-content: center;
        align-items: stretch;
        width: 90%;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        padding: 3%;
        padding-top: 1%;
        margin-left: 5%;
        margin-right: 10%;
    }
    
    .title-popu{
        width: 100%;
        margin-top: 8%;
        margin-bottom: 0;
    }
    
    .title-popu h2 {
        font-size: 1.7em;
    }

    .card-popu {
        flex-direction: column;
        margin-top: 9%;
    }
    
    .card-popu picture {
        width: 100%;
    }
    
    .card-popu img {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    
    .card-info-popu {
        margin-left: 2%;
    }
    
    .card-info-popu h4 {
        font-size: 1.4em;
        margin-left: 0;
    }
    
    .card-info-popu div {
        margin-top: 2%
    }
    
    .card-info-popu p {
        font-size: 1em;
    }
/*----------------Activities----------------*/

    .title-activity {
        margin: 5% 0 2% 5%;
    }
    
    .title-activity h2 {
        font-size: 1.7em;
    }
    
    .activity-card img{
        width: 100%;
    }
    
    .activity-card h4 {
        font-size: 1.4em;
        margin-top: 0;
        margin-bottom: 2%;
    }
    
/* -------------------footer--------------*/
    
    footer {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding-top: 0;
        padding-left: 3%;
    }
    
    footer div {
        margin: 0;
        margin-right: 6%;
        margin-top: 4%;
        margin-bottom: -2%;
    }
    
    footer div h4{
        font-family: 'Raleway-ExtraBold', sans-serif;
    }

/*---------------------------------------------------- DESKTOP -------------------------------------------------------------*/
@media all and (min-width: 1024px) {
    
    html {
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 1%;
    }

    /*-------------------- Nav --------------------------*/
    
    nav {
        width: 94%; /* 3% marge right left on body */
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-end;
        border-bottom: none;
        margin-left: 3%;
    }
    
    #logo {
        margin:0;
        padding: 0;
        padding-top: 3%;
        width: 25%;
    }
    
    #nav-inscription {
        order: 3;
        align-self: flex-start;
        width: 10%;
        padding-top: 3%;
    }
    
    #nav-location {
        order: 1;
        margin-left: auto;
        width: 10%;
        padding-bottom: 0;
        border-top: 1px solid #0065fc;
        border-bottom: none;
        padding-top: 3%;
        padding-right: 5%;
        padding-left: -3%;
    }
    
    #nav-activity {
        order: 2;
        width: 10%;
        padding-top: 3%;
    }
    
    /* ------------------------Search--------------------- */
    
    .search {
        margin: 2%;
        margin-bottom: 4%;
    }
    
    #localisation {
        padding: 1% 1.5%;
    }
    
    .search-flex {
        margin-top: 2%;
        margin-bottom: -3%;
    }
    
    input {
        padding: 1%;
        width: 24%;
    }
    
    .search button {
        padding: 1%;
        padding-right: 2%;
        width: auto;
    }
    
    /* -----------------------Filter------------------------- */
    
    .container-filter {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 70%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    
    .filter-title {
        align-self: center;
        padding : 0;
        padding-right: 2%;
        font-size: 19px;
        width: auto;
    }
    
    .fa-stack {
    font-size: 1.8em;
    margin-left: -37px;
    }

    .fa-circle {
        font-size: 3.5em;
        margin-left: -1%;
    }
    .fa-child {
        margin-left: -32px;
    }

    .btn {
        margin-right: 2%;
        margin-top: 4%;
        height: 3.5em;
    }

    .btn span {
        font-size: 19px;
        padding-left: 30px;
        padding-right: 20px;
    }

    .container-info div{
        padding: .4% .8% .4% .8%;
        margin: 0;
    }

       /* -----------------------Card--------------------------- */ 
    .container-flex {
        margin-top: 2%;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    /* ---------------------Location------------------------ */
    
    .container-flex, .activity {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
    }
    
    .container-location {
        order: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 64%;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        background-color: #f2f2f2;
        margin-left: 0;
        margin-bottom: 0;
    }

    .container-location h2 {
        font-size: 2em;
        margin-bottom: 0;
        margin-top: 5%;
        margin-left: 1%;
    }

    .card-location {
        background-color: white;
        border: 1px solid white;
        border-radius: 20px;
        padding: .5%;
        padding-bottom: 0;
        margin: 0;
        margin-bottom: 3%;
        width: 30%;
    }
    
    card-location img {
        width: 100%;
    }
    
    .card-info-location {
        padding-left: 0;
        padding-bottom: 0;
    }
    
    .card-info-location h4 {
        font-size: 1.1rem;
    }
    
    .card-info-location p {
        font-size: 1rem;;
    }
    
    #plus {
        width: 100%;
        margin : 0;
        margin-left: 4%;
    }
    
    /*--------------Popu--------------------*/
    
    .title-popu{
        width: 100%;
        margin-top: 8%;
        margin-bottom: 2%;
    }
    
    .container-popu {
        width: 34%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
    
    .card-popu {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 3%;
        margin-right: 0;
        padding-right: 10%;
    }
    
    .card-popu h4 {
        font-size: 1.1rem;    
    }
    
    .card-popu picture {
        width: 50%;
    }
    
    .card-popu img {
        width: 70%;
        border-radius: 25px 0 0 25px;
    }
    .card-info-popu {
        margin-left: -5%;
        padding-right: 4%;
    }
    
    .card-info-popu p {
        font-size: 1rem;
    }
    
    .card-info-popu div {
        margin-top: 20%;
    }

    /*------------------------Activities------------------------*/
    
    .activity {
        padding-left: 0;
    }
    
    .title-activity {
        margin: 5% 0 2% 0%;
    }
    
    .container-activity {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }
    
    .item {
        margin-left: 2.5%;
        margin-bottom: 0;
    }
    
    .item:first-child {
        margin-left:0;
    }
    
    .activity-card a img {
        margin-bottom: 0;
    }
    
    .frioul-container {
        margin-bottom: -1%;
    }
    
    .frioul-img {
        height: 70%;
    }
    
    .notre-dame-container {
        height: 45%;
    }
    
    .notre-dame-img {
        height: 80%;
    }

    .longchamp {
        height: 45%;
        margin-bottom: -1%;
    }
    
    .longchamp-img {
        height: 75%;
    }
    
    .activity-card h4 {
        font-size: .9em;
        margin-top: 2%;;
    }
    /* -------------------footer-----------------------*/
    
    footer {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding-top: 0;
        padding-left: 3%;
    }
    
    footer div {
        margin: 0;
        margin-right: 20%;
        margin-top: 4%;
        margin-bottom: -3%;
    }
    
    footer div h4{
        font-family: 'Raleway-ExtraBold', sans-serif;
    }