html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

h2, h3, h4, span {
    font-family: 'Raleway-ExtraBold', sans-serif;
}

.bleu {
    color: #0065fc;
}

.gris {
    color: #f2f2f2;
}

        /*-------Nav-------- */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

#logo {
    width: 50%;
    margin: 7% 0;
    padding-left: 5%;
}

nav a {
    text-align: center;
}

#nav-location {
    width: 50%;
    color: #0065fc;
    font-weight: 500;
    border-bottom: 1px solid #0065fc;
    padding-bottom: 4%;
}

#nav-activity {
    width: 50%;
}

#nav-inscription {
    align-self: center;
    text-align: end;
    width: 50%;
    color: #0065fc;
    padding-right: 5%;
    font-weight: 900;
}

        /*-------Search--------- */

.container-search {
    margin: 7% 5% 10% 5%;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 4%;
}

.search-flex {
    display: flex;
    margin: 10% 0;
}

#localisation {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 4% 6%;
}

.fa-map-marker-alt {
    font-size: 1.2rem;
}

input {
    width: 70%;
    font-weight: 700;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    padding: 5%;
}

input::placeholder {
    font-size: 1.3em;
    color: black;
}

.search button {
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway-ExtraBold', sans-serif;
    border : #0065fc solid 1px;
    border-radius: 13px;
    padding: 1.5% 4%;
    margin-left: -2%;
}

.fa-search {
    font-size: 1.1rem;
}

        /*--------Filter-------- */

.container-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    align-self: center;
    margin-bottom: 2%;
}

.btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fff;
    border: 3px solid #f2f2f2;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-top: 4%;
    transition: .3s all ease-in-out;
}

.btn:hover {
    background-color: #deebff;
    border: 3px solid #deebff;
    box-shadow: 0px 0px 10px 3px rgba(0,101,252,0.45);
}

.btn span {
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.fa-stack {
    color: #0065fc;
    font-size: 1.1rem;
    margin-left: -2rem;
    height: 1em;
}

.fa-circle {
    font-size: 2.8rem;
    color: #deebff;
    margin-left: -1%;
}

.fa-child {
    font-size: 1.2rem;
    padding-left: -1.8rem;
}

.fa-heart {
    margin-left: -1.9rem;
}

.container-info {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.container-info div {
    border: 2px solid #f2f2f2;
    border-radius: 1.5rem;
    color: #0065fc;
    width: 5%;
    padding: 0 4% 1% 2.5%;
    margin-right: 3%;
    margin-bottom: 5%;
}

.container-info p {
    width: 90%;
}

        /* -------Popu--------- */

.container-popu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10% 5% 9% 5%;
}

.title-popu {
    font-size: .9rem;
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 7%;
}

.fa-chart-line {
    font-size: 1.5rem;
}

.card-popu {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #f2f2f2, 3px 3px 10px #f2f2f2;
    padding: 1.5%;
    margin: 1.5% 0;
}

.card-popu picture {
    display: inline-block;
    width: 50%;
}

.card-popu img {
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.card-info-popu {
    display: inline-block;
    width: 60%;
    margin-left: 8%;
    margin-right: 8%;
}

.card-info-popu h3 {
    font-size: 1rem;
    padding-top: .9rem;
    padding-bottom: .3rem;
}

.card-info-popu p {
    font-size: .9rem;
    margin-top: 2%;
}

.card-info-popu p span {
    font-weight: bolder;
}

.card-info-popu div {
    display: flex;
    margin-top: 2.3rem;
}

.card-info-popu div svg {
    margin-right: .5%;
}

.card-popu a {
    position: absolute;
    width: 100%;
    height: 100%;
}

        /*--------Location---------- */

.container-location {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-left: 2%;
}

.container-location h2 {
    margin: 10% 0 4% 3%;
}

.card-location {
    position: relative;
    width: 95%;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #f2f2f2, 3px 3px 10px #f2f2f2;
    margin: 1.5%;
}

.card-location img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 1.5%;
}

.card-info-location {
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-left: 4%;
    padding: 2%;
    padding-top: 0;
}

.card-info-location h3 {
    padding-top: 0;
    font-size: 1rem;
}

.card-info-location p {
    font-size: .9rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card-info-location span {
    font-weight: bolder;
}

.card-info-location div {
    display: flex;
}

.card-info-location div svg {
    margin-top: 1%;
    margin-right: .5%;
}

.card-location a {
    position: absolute;
    width: 100%;
    height: 100%;
}

#plus {
    margin-top: 7%;
    margin-bottom: 16%;
    margin-left: 5%;
    font-weight: 600;
}

        /*--------Activities--------- */

.container-activity {
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}

.title-activity {
    font-size: 1.4rem;
    margin-bottom: 7%;
    margin-left: 5%;
}

.activity-card-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4.5%;
}

.item {
    width: 90%;
    margin-left: 4.5%;
}

.activity-card {
    position: relative;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #f2f2f2, 3px 3px 10px #f2f2f2;
    margin-bottom: 4.5%;
}

.activity-card a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.activity-card img {
    border-radius: 20px 20px 0 0;
    width: 101%;
    margin-bottom: 2%;
}

.activity-card h3 {
    font-size: 1rem;
    margin: 5%;
    margin-top: 3%;
}

       /* -------Footer------------ */
footer {
    width: 100%;
    background-color: #f2f2f2;
    padding: 4% 5% 1% 5%;
    margin: 0;
}

footer div h2 {
    font-size: 1.1rem;
    padding-bottom: 5.5%;
}

ul li {
    list-style: none;
    padding-bottom: 4%;
}

footer div {
    margin: 10%;
    margin-left: 0;
}

/*---------------------------------------------------Média queries -----------------------------------------------------*/

/*------------------------------------------- TABLET------------------------------------------------------------------*/
@media all and (min-width: 768px) {
    
/* --------------Search--------------- */
    
    .container-search {
        margin: 0 5%;
    }
    
    .container-search h1 {
        font-size: 1.4rem;
        margin-top: 2%;
        margin-bottom:1%;
    }

    .search-flex {
        margin-top: 4%;
        margin-bottom: 2%;
    }
    
    #localisation {
        padding: 2% 2%;
        padding-bottom: 5px;
        margin-left: 0;
    }
    
    input {
        padding: .6% 3%;
        width: 50%;
    }
    
    input::placeholder {
        font-size: 1.1rem;
    }
    
    .search button {
        width: auto;
        border-radius: 0 15px 15px 0;
        padding-left: 2%;
        margin-right: -3%;
    }
    
    .search button::before {
        content: "Rechercher";
        font-size: 1.5em;
        padding-left: 1%;
    }        
    
    .search button svg {
        position: absolute;
        visibility: hidden;
    }
    
    /*-----------------Filter---------------------*/
    
    .filter-title {
        font-size: 1.1rem;
        margin-top: 4%;
        margin-bottom: 0
    }
    
    .btn span {
        font-size: 1rem;
        padding-right: 20px;
        padding-left: 25px;
    }
    
    .container-info {
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .container-info div{
        padding: .4% 1.5% .8% 1.5%;
        margin: 2%;
    }
    
    /*----------------------Location-----------------*/
    
    .container-location {
        margin-left: 5%;
    }
    
    .container-location h2 {
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 2%;
        margin-top: 2rem;
        padding-left: 2%;
    }
    
    .card-location {
        margin-left: 0;
    }
    
    .card-info-location {
        margin-top: 0;
        padding-top: 0;
    }
    
    .card-info-location h3{
        font-size: 1.1rem;
        margin-top: 0;
    }
    
    .card-info-location p {
        font-size: 1em;
    }
    
    #plus {
        font-size: 1.1em;
        margin-top: 2%;
        margin-bottom: 7%;
    }
    
    /*------------------------- popu---------------------*/
    
    .container-popu {
        order: 1;
        justify-content: center;
        align-items: stretch;
        width: 90%;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        padding: 0 3%;
        margin-left: 5%;
    }
    
    .title-popu {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 0;
    }
    
    .title-popu h2 {
        font-size: 1.4rem;
    }

    .card-popu {
        flex-direction: column;
        margin-top: 5%;
    }
    
    .card-popu picture {
        width: 100%;
    }
    
    .card-popu img {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    
    .card-info-popu {
        margin-left: 2%;
    }
    
    .card-info-popu h3 {
        font-size: 1.1rem;
        margin-top: 3%;
        margin-left: 0;
    }
    
    .card-info-popu div {
        margin-top: 2%
    }
    
    .card-info-popu p {
        font-size: 1em;
    }
/*----------------Activities----------------*/

    .title-activity {
        margin: 0 0 2% 5%;
        font-size: 1.4rem;
    }
    
    .activity-card img{
        width: 100%;
    }
    
    .activity-card h3 {
        font-size: 1.1em;
        margin-top: 0;
        margin-bottom: 2%;
    }
    
/* -------------------footer--------------*/
    
    footer {
        display: flex;
        justify-content: space-between;
        width: 103%;
        font-size: 1rem;
        padding-top: 0;
        padding-left: 3%;
    }
    
    footer div {
        margin-right: 6%;
        margin-top: 4%;
        margin-bottom: -2%;
    }
    
    footer div h2{
        font-family: 'Raleway-ExtraBold', sans-serif;
        font-size: 1.3rem;
    }
}
    
/*---------------------------------------------------- DESKTOP -------------------------------------------------------------*/
@media all and (min-width: 1024px) {
    
    html {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 1%;
    }

    /*-------------------- Nav --------------------------*/
    
    nav {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-end;
        width: 94%; /* 3% marge right left on body */
        border-bottom: none;
        margin-left: 3%;
    }
    
    #logo {
        width: 25%;
        margin:0;
        padding: 0;
        padding-top: 3%;
    }
    
    #nav-inscription {
        order: 3;
        align-self: flex-start;
        width: 10%;
        padding-top: 3%;
        margin-left: 3%;
    }
    
    #nav-location {
        order: 1;
        width: 10%;
        text-align: center;
        border-top: 1px solid #0065fc;
        border-bottom: none;
        padding-top: 3%;
        padding-bottom: 0;
        margin-left: auto;
    }
    
    #nav-activity {
        order: 2;
        width: 10%;
        padding-top: 3%;
        margin-left: 3%;
    }
    
    /* ------------------------Search--------------------- */
    h1 {
        margin-top: 0;
        padding-top: 0;
        font-size: 20px;
        font-weight: 600;
    }
    
    .search {
        margin: 0;
        margin-bottom: 4%;
    }
    
    #localisation {
        padding: 1% 1.5%;
    }
    
    .search-flex {
        margin-top: 2%;
        margin-bottom: -3%;
    }
    
    input {
        padding: 1%;
        padding-left: 1.5%;
        width: 24%;
        font-size: .8rem;
    }
    
    .search button {
        padding: 1%;
        padding-right: 2%;
        width: auto;
    }
    
    /* -----------------------Filter------------------------- */
    
    .container-filter {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 70%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    
    .filter-title {
        align-self: center;
        font-weight: bolder;
        padding : 0;
        padding-right: 3%;
        width: auto;
    }
    
    .fa-stack {
    font-size: 1.6em;
    margin-left: -37px;
    }

    .fa-circle {
        font-size: 3.2em;
        margin-left: -1%;
    }
    
    .fa-child {
        margin-left: -32px;
    }
    
    .fa-heart {
        margin-left: -2.1rem;
    }

    .btn {
        margin-right: 2%;
        margin-top: 4%;
        height: 2.8rem;
    }

    .btn span {
        font-size: 1.1rem;
        font-weight: bolder;
        padding-left: 1.2rem;;
        padding-right: 1rem;
    }

    .container-info div{
        padding: .2% .8% .4% 1%;
        width: 3%;
        margin: 1%;
    }

       /* -----------------------Card--------------------------- */ 
    .container-flex {
        margin-top: 2%;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    /* ---------------------Location------------------------ */
    
    .activity {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
    }
    
    .container-location {
        float: left;
        order: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 60%;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        background-color: #f2f2f2;
        margin-left: 3%;
        margin-bottom: 0;
    }

    .container-location h2 {
        
        margin-bottom: 3%;
        margin-top: 3%;
        margin-left: 1%;
    }

    .card-location {
        background-color: white;
        border: 1px solid white;
        border-radius: 20px;
        padding: .5%;
        padding-bottom: 0;
        margin: 0;
        margin-bottom: 3%;
        width: 30%;
    }
    
    card-location img {
        width: 100%;
    }
    
    .card-info-location {
        padding-left: 0;
        padding-bottom: 0;
    }
    
    .card-info-location h3 {
        font-size: 1rem;
    }
    
    .card-info-location p {
        font-size: .8rem;
        padding: 3% 0%;
    }
    
    #plus {
        width: 100%;
        margin : 0;
        margin-left: 4%;
    }
    
    /*--------------Popu--------------------*/
    
    .title-popu{
        width: 100%;
        margin-top: 8%;
        margin-bottom: 2%;
    }
    
    .container-popu {
        float: right;
        width: 30%;
        margin-left: 0;
        margin-right: 3%;
        padding: 0 1.5% 3% 1.5%;
        padding-right: 1.5%;
    }
    
    .card-popu {
        flex-direction: row;
        justify-content: space-around;
        margin: 3% 0;
        padding-right: 10%;
    }
    
    .card-popu h3 {
        font-size: 1rem;    
    }
    
    .card-popu picture {
        width: 40%;
    }
    
    .card-popu img {
        width: 100%;
        border-radius: 20px 0 0 20px;
    }
    .card-info-popu {
        width: 60%;
        padding-left: 5%;
    }
    
    .card-info-popu p {
        font-size: .8rem;
    }
    
    .card-info-popu div {
        margin-top: 10%;
    }

    /*------------------------Activities------------------------*/
    
    .activity {
        clear: both;
    }
    
    .title-activity {
        padding-top: 3%;
        margin: 2% 0%;
    }
    
    .container-activity {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }
    
    .item {
        margin-left: 2.5%;
        margin-bottom: 0;
    }
    
    .item:first-child {
        margin-left:0;
    }
    
    .activity-card a img {
        margin-bottom: 0;
    }
    
    .frioul-container {
        margin-bottom: -1%;
    }
    
    .frioul-img {
        height: 70%;
    }
    
    .notre-dame-container {
        height: 45%;
    }
    
    .notre-dame-img {
        height: 80%;
    }

    .longchamp {
        height: 45%;
        margin-bottom: -1%;
    }
    
    .longchamp-img {
        height: 75%;
    }
    
    .activity-card h3 {
        font-size: 1em;
        margin-top: 2%;;
    }
    
    #plus {
        font-size: 1rem;
        font-weight: bolder;
        padding-bottom: 3%;
    }
    /* -------------------footer-----------------------*/
    
    footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        padding-top: 0;
        padding-left: 3%;
    }
    
    footer div h2 {
        font-size: 1.1rem;
    }
    
    footer div {
        margin: 0;
        margin-right: 15%;
        margin-top: 4%;
    }
    
    footer li {
        padding-top: 3%;
    }
}