body {
    font-family: 'Raleway', sans-serif;
    margin: 1%;
}

/* Barre de navigation */ 
nav {
    width: 100%;
    display: flex;
    margin-top: 1%;
}

nav ul {
    width: 92%;
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none; 
}

nav ul li {
    text-align: center;
    margin-right: 4%;
}

nav ul li a {
    text-decoration: none;
    padding: 24%;

}

a:visited, a:hover {
    color: inherit;
}

#nav-hebergements {
    color: #0065fc;
    border-top: 1px solid #0065fc;
}

#nav-activites {
    color: black;
}

#nav-inscription {
    font-weight: bold;
    color: #0065fc;
}

/* Moteur de recherche */
.titre {
    margin-bottom: 0;
    font-weight: bold;
}

.container-grey {
    background-color: #f2f2f2;
}

#localisation {
    display: inline-block;
    margin-right: -4px;
    border-radius: 10px 0 0 10px;
}

.fa-map-marker-alt {
    margin: 11px;
}

input {
    margin-left: 0;
    font-size: 16px;
    font-weight: bold;
    padding: .5%;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
}

button {
    margin-left: -4px ;
    font-size: 16px;
    padding: .5%;
    background-color: #0065fc;
    color: white;
    border : 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
    margin-bottom: 1.5%;
}

/* filtres */
container-flex {
    display: flex;
}

.filter-flex {
    margin-right: 1.2%;
    color: black;
    padding: .5% 1%;
    padding-left: 0;
    font-weight: bold;
}

.filter {
    text-decoration: none;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
}

.filter-circle {
    display: inline-block;
    color: #0065fc;
    margin-left: -2px;
    margin-right: 8px;
    margin-bottom: 2%;
    padding: .5%;
    border: 2px solid #deebff;
    border-radius: 25px;
    background: #deebff;
}

.filter-circle-child {
    width: 1.1%;
}

.fa-child {
    margin-left: 3px;
}

.fa-info {
    color: #0065fc;
    padding: .4% .7%;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
}

/* card */
/*hébergement */
.container-grid {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
}

.container-hebergements {
    padding: 3%;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
}

.container-grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
}

.card-title {
    padding-left: 1.5%;
}

.grid-item {
    padding: 1%;
    margin: 4% 1%;
    width: 96%;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.card-info {
    padding: 4%;
    padding-top: 0; 
}

.illustration-hotel {
    border-radius: 20px 20px 0 0;
}

.denomination {
    font-weight: bold;
}

#plus {
    font-weight: bold;
    margin-top: 3%;
    margin-left: 1.5%;
}

.bleu {
    color: #0065fc;
}

.gris {
    color: #f2f2f2;
}

/* populaires */
 .titre-popu {
    display: inline-block;
    margin-bottom: 6.8%;
    font-weight: bold;
}

.fa-chart-line {
    margin-left: 45%;
}

.container-populaires {
    padding: 5.5%;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
}

.item {
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 5%;
}

.illustration-hotel-populaires {
    border-radius: 20px 0 0 20px;
}

.bas {
    margin-top: 38%;
}

.card-info-popu {
    margin-left: 5%;
}